.container-tecnologias {
  max-width: 43.8rem;
  margin: 0 auto;

  padding: 1rem;
}

.tecnologias-s1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 3.8rem;
}

.tecnologia-icon {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tecnologia-img {
  width: 8rem;
  height: 8rem;

  border-radius: 0.4rem;

  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.tecnologia-title {
  text-align: center;

  margin-top: 0.9rem;

  font-size: 1.4rem;
  font-weight: 700;
}

.diviser {
  width: 43.7rem;
  height: 0.2rem;
  background-color: var(--blue);

  margin: 6.8rem 0;
}
